PIMRoleApprovalProcessFlow/Microsoft.Flow/flows/00000000-0000-0000-0000-000000000008/definition.json
{"name":"00000000-0000-0000-0000-000000000004","id":"/providers/Microsoft.Flow/flows/00000000-0000-0000-0000-000000000004","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"PIM Role Approval Process","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"00000000-0000-0000-0000-000000000002","type":"User","tenantId":"00000000-0000-0000-0000-000000000001"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-08-02T10:31:36.0086113Z","connectionKeySavedTimeKey":"2025-08-02T10:31:36.0086113Z","creationSource":"Portal","modifiedSources":"Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"undefined","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"manual":{"metadata":{},"type":"Request","kind":"Http","inputs":{"schema":{"type":"object","properties":{"trackingId":{"type":"string"},"userEmail":{"type":"string"},"userDisplayName":{"type":"string"},"roleName":{"type":"string"},"roleNamesFormatted":{"type":"string"},"roles":{"type":"array","items":{"type":"object","properties":{"roleName":{"type":"string"},"activationId":{"type":"string"},"expiryTime":{"type":"string"},"requiresApproval":{"type":"boolean"}}}},"duration":{"type":"string"},"justification":{"type":"string"},"activationId":{"type":"string"},"expiryTime":{"type":"string"},"isBatch":{"type":"boolean"}}},"triggerAuthenticationType":"All"}}},"actions":{"Post_adaptive_card_and_wait_for_a_response_-_(PIM_Role_-_Activation_Request)":{"runAfter":{},"type":"OpenApiConnectionWebhook","inputs":{"parameters":{"poster":"Flow bot","location":"Channel","body/body/messageBody":"{\n  \"type\": \"AdaptiveCard\",\n  \"version\": \"1.3\",\n  \"body\": [\n    {\n      \"type\": \"Container\",\n      \"style\": \"@{if(startsWith(triggerBody()?['trackingId'], 'PIM-APPROVAL'), 'attention', 'emphasis')}\",\n      \"items\": [\n        {\n          \"type\": \"ColumnSet\",\n          \"columns\": [\n            {\n              \"type\": \"Column\",\n              \"width\": \"auto\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"@{if(startsWith(triggerBody()?['trackingId'], 'PIM-APPROVAL'), '⏳', '✅')}\",\n                  \"size\": \"Large\",\n                  \"horizontalAlignment\": \"Center\"\n                }\n              ]\n            },\n            {\n              \"type\": \"Column\",\n              \"width\": \"stretch\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"**PIM Role Activation Requested**\",\n                  \"weight\": \"Bolder\",\n                  \"size\": \"Medium\",\n                  \"color\": \"@{if(startsWith(triggerBody()?['trackingId'], 'PIM-APPROVAL'), 'Attention', 'Good')}\"\n                }\n              ]\n            }\n          ]\n        }\n      ]\n    },\n    {\n      \"type\": \"Container\",\n      \"items\": [\n        {\n          \"type\": \"FactSet\",\n          \"facts\": [\n            {\n              \"title\": \"**Requester:**\",\n              \"value\": \"@{triggerBody()?['userDisplayName']}\"\n            },\n            {\n              \"title\": \"**Account:**\",\n              \"value\": \"@{triggerBody()?['userEmail']}\"\n            },\n            {\n              \"title\": \"**Duration:**\",\n              \"value\": \"@{triggerBody()?['duration']}\"\n            },\n            {\n              \"title\": \"**Justification:**\",\n              \"value\": \"@{triggerBody()?['justification']}\"\n            },\n            {\n              \"title\": \"**Status:**\",\n              \"value\": \"@{if(startsWith(triggerBody()?['trackingId'], 'PIM-APPROVAL'), '⏳ **Pending Approval**', '✅ **Active**')}\"\n            },\n            {\n              \"title\": \"**Tracking ID:**\",\n              \"value\": \"@{triggerBody()?['trackingId']}\"\n            }\n          ]\n        }\n      ]\n    },\n    {\n      \"type\": \"Container\",\n      \"items\": [\n        {\n          \"type\": \"TextBlock\",\n          \"text\": \"**Role(s) Requested:**\",\n          \"weight\": \"Bolder\"\n        },\n        {\n          \"type\": \"TextBlock\",\n          \"text\": \"@{triggerBody()?['roleNamesFormatted']}\",\n          \"wrap\": true\n        }\n      ]\n    },\n    {\n      \"type\": \"Container\",\n      \"items\": [\n        {\n          \"type\": \"TextBlock\",\n          \"text\": \"**Approver Justification:**\",\n          \"weight\": \"Bolder\",\n          \"$when\": \"@{startsWith(triggerBody()?['trackingId'], 'PIM-APPROVAL')}\"\n        },\n        {\n          \"type\": \"Input.Text\",\n          \"id\": \"approverJustification\",\n          \"placeholder\": \"Enter your reason for approving/rejecting this request...\",\n          \"isMultiline\": true,\n          \"maxLength\": 500,\n          \"$when\": \"@{startsWith(triggerBody()?['trackingId'], 'PIM-APPROVAL')}\"\n        }\n      ]\n    }\n  ],\n  \"actions\": [\n    {\n      \"type\": \"Action.Submit\",\n      \"title\": \"✅ Approve\",\n      \"data\": {\n        \"action\": \"approve\",\n        \"trackingId\": \"@{triggerBody()?['trackingId']}\",\n        \"activationId\": \"@{triggerBody()?['activationId']}\"\n      },\n      \"style\": \"positive\",\n      \"$when\": \"@{startsWith(triggerBody()?['trackingId'], 'PIM-APPROVAL')}\"\n    },\n    {\n      \"type\": \"Action.Submit\",\n      \"title\": \"❌ Reject\",\n      \"data\": {\n        \"action\": \"reject\",\n        \"trackingId\": \"@{triggerBody()?['trackingId']}\",\n        \"activationId\": \"@{triggerBody()?['activationId']}\"\n      },\n      \"style\": \"destructive\",\n      \"$when\": \"@{startsWith(triggerBody()?['trackingId'], 'PIM-APPROVAL')}\"\n    }\n  ]\n}","body/body/recipient/groupId":"00000000-0000-0000-0000-000000000003","body/body/recipient/channelId":"19:EXAMPLE-CHANNEL-ID@thread.tacv2"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"PostCardAndWaitForResponse"},"authentication":"@parameters('$authentication')"}},"Condition":{"actions":{"Post_message_in_a_chat_or_channel":{"runAfter":{"Post_Approval_with_Justification":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"@triggerBody()?['userEmail']","body/messageBody":"<p class=\"editor-paragraph\">✅ PIM Request Approved<br><br>Your request for @{coalesce(triggerBody()?['roleName'], 'the requested roles')} has been approved and activated!<br><br>Details:<br>• Role: @{coalesce(triggerBody()?['roleName'], 'Multiple Roles Approved')}<br>• Duration: @{triggerBody()?['duration']}<br>• Approved by: @{outputs('Post_adaptive_card_and_wait_for_a_response_-_(PIM_Role_-_Activation_Request)')?['body/responder/displayName']}<br>• Status: Active and ready to use<br>• Expires: @{triggerBody()?['expiryTime']}<br><br>Your @{coalesce(triggerBody()?['roleName'], 'requested roles are')} role is now active!</p>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"PostMessageToConversation"},"authentication":"@parameters('$authentication')"}},"Get_Approval_Steps":{"type":"OpenApiConnection","inputs":{"parameters":{"request/method":"GET","request/url":"/beta/roleManagement/directory/roleAssignmentApprovals/@{triggerBody()?['activationId']}/steps"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_webcontentsv2","connectionName":"shared_webcontentsv2-1","operationId":"InvokeHttp"},"authentication":"@parameters('$authentication')"}},"Approve_PIM_Request":{"runAfter":{"Get_Approval_Steps":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"request/method":"PATCH","request/url":"/beta/roleManagement/directory/roleAssignmentApprovals/@{triggerBody()?['activationId']}/steps/@{first(body('Get_Approval_Steps')?['value'])?['id']}","request/headers":{"Content-Type":"application/json"},"request/body":"{\n  \"reviewResult\": \"Approve\",\n  \"justification\": \"Teams Approval - Approver: @{outputs('Post_adaptive_card_and_wait_for_a_response_-_(PIM_Role_-_Activation_Request)')?['body/responder/displayName']} | Justification: @{outputs('Post_adaptive_card_and_wait_for_a_response_-_(PIM_Role_-_Activation_Request)')?['body/data/approverJustification']}\"\n}"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_webcontentsv2","connectionName":"shared_webcontentsv2-1","operationId":"InvokeHttp"},"authentication":"@parameters('$authentication')"}},"Post_Approval_with_Justification":{"runAfter":{"Approve_PIM_Request":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"poster":"Flow bot","location":"Channel","body/messageId":"@outputs('Post_adaptive_card_and_wait_for_a_response_-_(PIM_Role_-_Activation_Request)')?['body/messageId']","body/recipient/groupId":"00000000-0000-0000-0000-000000000003","body/recipient/channelId":"19:EXAMPLE-CHANNEL-ID@thread.tacv2","body/messageBody":"{\n  \"type\": \"AdaptiveCard\",\n  \"version\": \"1.3\",\n  \"body\": [\n    {\n      \"type\": \"Container\",\n      \"style\": \"good\",\n      \"items\": [\n        {\n          \"type\": \"TextBlock\",\n          \"text\": \"✅ **APPROVED** - PIM Role Activation\",\n          \"weight\": \"Bolder\",\n          \"size\": \"Medium\",\n          \"color\": \"Good\"\n        }\n      ]\n    },\n    {\n      \"type\": \"FactSet\",\n      \"facts\": [\n        {\n          \"title\": \"**Requester:**\",\n          \"value\": \"@{triggerBody()?['userDisplayName']}\"\n        },\n        {\n          \"title\": \"**Account:**\",\n          \"value\": \"@{triggerBody()?['userEmail']}\"\n        },\n        {\n          \"title\": \"**Role(s):**\",\n          \"value\": \"@{coalesce(triggerBody()?['roleName'], 'Multiple Roles - See Details Below')}\"\n        },\n        {\n          \"title\": \"**Duration:**\",\n          \"value\": \"@{triggerBody()?['duration']}\"\n        },\n        {\n          \"title\": \"**Approved by:**\",\n          \"value\": \"@{outputs('Post_adaptive_card_and_wait_for_a_response_-_(PIM_Role_-_Activation_Request)')?['body/responder/displayName']}\"\n        },\n        {\n          \"title\": \"**Justification:**\",\n          \"value\": \"@{outputs('Post_adaptive_card_and_wait_for_a_response_-_(PIM_Role_-_Activation_Request)')?['body/data/approverJustification']}\"\n        },\n        {\n          \"title\": \"**Decision Time:**\",\n          \"value\": \"@{utcNow()}\"\n        }\n      ]\n    },\n    {\n      \"type\": \"TextBlock\",\n      \"text\": \"🔒 **This approval is final and cannot be modified.**\",\n      \"weight\": \"Bolder\",\n      \"color\": \"Attention\"\n    }\n  ]\n}"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"UpdateCardInConversation"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Post_adaptive_card_and_wait_for_a_response_-_(PIM_Role_-_Activation_Request)":["Succeeded"]},"else":{"actions":{"Post_message:_User_Specific_Deny":{"runAfter":{"Post_Denial_with_Justification":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"@triggerBody()?['userEmail']","body/messageBody":"<p class=\"editor-paragraph\">❌ PIM Request Rejected<br><br>Your request has been rejected.<br><br>Details:<br>• Role: @{coalesce(triggerBody()?['roleName'], 'Multiple Roles Rejected')}<br>• Duration: @{triggerBody()?['duration']}<br>• Rejected by: @{outputs('Post_adaptive_card_and_wait_for_a_response_-_(PIM_Role_-_Activation_Request)')?['body/responder/displayName']}<br>• Reason: @{outputs('Post_adaptive_card_and_wait_for_a_response_-_(PIM_Role_-_Activation_Request)')?['body/data/approverJustification']}<br><br>Your request has been denied. Please contact your administrator if you believe this was in error.</p>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"PostMessageToConversation"},"authentication":"@parameters('$authentication')"}},"Get_Approval_Steps_(Deny)":{"type":"OpenApiConnection","inputs":{"parameters":{"request/method":"GET","request/url":"/beta/roleManagement/directory/roleAssignmentApprovals/@{triggerBody()?['activationId']}/steps"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_webcontentsv2","connectionName":"shared_webcontentsv2-1","operationId":"InvokeHttp"},"authentication":"@parameters('$authentication')"}},"Deny_PIM_Request":{"runAfter":{"Get_Approval_Steps_(Deny)":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"request/method":"PATCH","request/url":"/beta/roleManagement/directory/roleAssignmentApprovals/@{triggerBody()?['activationId']}/steps/@{first(body('Get_Approval_Steps_(Deny)')?['value'])?['id']}","request/headers":{"Content-Type":"application/json"},"request/body":"{\n  \"reviewResult\": \"Deny\",\n  \"justification\": \"Teams Rejection - Approver: @{outputs('Post_adaptive_card_and_wait_for_a_response_-_(PIM_Role_-_Activation_Request)')?['body/responder/displayName']} | Justification: @{outputs('Post_adaptive_card_and_wait_for_a_response_-_(PIM_Role_-_Activation_Request)')?['body/data/approverJustification']}\"\n}"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_webcontentsv2","connectionName":"shared_webcontentsv2-1","operationId":"InvokeHttp"},"authentication":"@parameters('$authentication')"}},"Post_Denial_with_Justification":{"runAfter":{"Deny_PIM_Request":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"poster":"Flow bot","location":"Channel","body/messageId":"@outputs('Post_adaptive_card_and_wait_for_a_response_-_(PIM_Role_-_Activation_Request)')?['body/messageId']","body/recipient/groupId":"00000000-0000-0000-0000-000000000003","body/recipient/channelId":"19:EXAMPLE-CHANNEL-ID@thread.tacv2","body/messageBody":"{\n  \"type\": \"AdaptiveCard\",\n  \"version\": \"1.3\",\n  \"body\": [\n    {\n      \"type\": \"Container\",\n      \"style\": \"attention\",\n      \"items\": [\n        {\n          \"type\": \"TextBlock\",\n          \"text\": \"❌ **REJECTED** - PIM Role Activation\",\n          \"weight\": \"Bolder\",\n          \"size\": \"Medium\",\n          \"color\": \"Attention\"\n        }\n      ]\n    },\n    {\n      \"type\": \"FactSet\",\n      \"facts\": [\n        {\n          \"title\": \"**Requester:**\",\n          \"value\": \"@{triggerBody()?['userDisplayName']}\"\n        },\n        {\n          \"title\": \"**Account:**\",\n          \"value\": \"@{triggerBody()?['userEmail']}\"\n        },\n        {\n          \"title\": \"**Role(s):**\",\n          \"value\": \"@{coalesce(triggerBody()?['roleName'], 'Multiple Roles - See Details Below')}\"\n        },\n        {\n          \"title\": \"**Duration:**\",\n          \"value\": \"@{triggerBody()?['duration']}\"\n        },\n        {\n          \"title\": \"**Rejected by:**\",\n          \"value\": \"@{outputs('Post_adaptive_card_and_wait_for_a_response_-_(PIM_Role_-_Activation_Request)')?['body/responder/displayName']}\"\n        },\n        {\n          \"title\": \"**Justification:**\",\n          \"value\": \"@{outputs('Post_adaptive_card_and_wait_for_a_response_-_(PIM_Role_-_Activation_Request)')?['body/data/approverJustification']}\"\n        },\n        {\n          \"title\": \"**Decision Time:**\",\n          \"value\": \"@{utcNow()}\"\n        }\n      ]\n    },\n    {\n      \"type\": \"TextBlock\",\n      \"text\": \"🔒 **This rejection is final and cannot be modified.**\",\n      \"weight\": \"Bolder\",\n      \"color\": \"Attention\"\n    }\n  ]\n}"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"UpdateCardInConversation"},"authentication":"@parameters('$authentication')"}}}},"expression":{"and":[{"equals":["@outputs('Post_adaptive_card_and_wait_for_a_response_-_(PIM_Role_-_Activation_Request)')?['body/data/action']","approve"]}]},"type":"If"}}},"connectionReferences":{"shared_teams":{"connectionName":"shared-teams-00000000-0000-0000-0000-000000000005","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_teams","tier":"NotSpecified","apiName":"teams","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_webcontentsv2-1":{"connectionName":"shared-webcontentsv2-00000000-0000-0000-0000-000000000006","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_webcontentsv2","tier":"NotSpecified","apiName":"webcontentsv2","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}